{
  "http": {
    "port": 8080,
    "cleanedJsonResponses": true
  },

  "db": {
    "host": "127.0.0.1",
    "port": 27017,

    "user": "admin",
    "pass": "password",

    "dbName": "videos",
    "authSource": "admin"
  },

  "adminKeys": [
    "key1"
  ]
}